@font-face {
    font-family: 'cour';
    src: url('../assets/fonts/cour.ttf');
    font-weight: normal;
    font-style: normal;

}@font-face {
    font-family: 'gill';
    src: url('../assets/fonts/GillSansMT.ttf');
    font-weight: normal;
    font-style: normal;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 96vh;
    font-family: 'gill','sans-serif';
}
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.wrapper{
    position: relative;
}

#intro {
    position: absolute;
    margin-top: 210px;
    text-align: center;
    background: #fff;
    font-size: 20px;
    z-index: 20;
    padding:20px;

}


.sq, .line, .symbol {
    position: absolute;

}
.z-index-9{
    z-index: 9;
}
.sq {
    background: rgb(249, 229, 222);
    z-index: 10;
}
.line{
    background:#2F467E;
    background-size: 100%;

}
.line div{
    width: 100%;
    height: 100%;
    background: #2F467E;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
    animation-fill-mode: forwards;


}

.symbol{
    color: #2F467E;
    font-family: sans-serif;
    z-index: 20;
    width: 15px;
}
#title {
    font-weight: 100;
    font-size: 1em;
}
#subtitle {
    font-family: 'cour';
    font-size: 1em;
}


#sq1{
    width: 27px;
    height: 90px;
    left: 5vw;
    top: 5vh;
}
#sq2{
    width: 40px;
    height: 40px;
    left: 45vw;
    top: 11vh;
}
#sq3{
    width: 30px;
    height: 30px;
    left: 80vw;
    top: 5vh;
}
#sq4{
    width: 40px;
    height: 35px;
    top: 26vh;
    left: 28vw;
}
#sq5{
    width: 15px;
    height: 110px;
    top: 30vh;
    left: 55vw;
}
#sq6{
    right: 1vw;
    height: 50px;
    width: 120px;
    top: 35vh;
}
#sq7{
    height: 55px;
    width: 70px;
    top: 56vh;
    left: 16vw;
}
#sq8{
    width: 65px;
    height: 25px;
    top: 64vh;
    right: 17vw;
}
#sq9{
    width: 47px;
    height: 12px;
    left:40vw;
    top: 76vh;
}
#sq10{
    width: 70px;
    height: 45px;
    top:87vh;
    left: 7vw;
}
#sq11{
    width: 40px;
    height: 55px;
    top: 85vh;
    left: 65vw;
}

#l1{
    width: 11vw;
    height: 12vh;
    left: 15vw;
    top: 17vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
    z-index: 8;

}
#l2{
    width: 15vw;
    height: 25vh;
    left: 46vw;
    top: 7vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l3{
    width: 32vw;
    height: 20vh;
    right: 2vw;
    top: 6vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l4{
    width: 16vw;
    height: 19vh;
    left: 3vw;
    top: 6vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75)
}
#l5{
    width: 10vw;
    height: 23vh;
    right: 34vw;
    top: 4vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l6{
    width: 10vw;
    height: 10vh;
    right: 24vw;
    top: 27vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l7{
    width: 18vw;
    height: 24vh;
    left: 35vw;
    top: 15vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l8{
    left: 1vw;
    top: 21vh;
    width: 16vw;
    height: 22vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l9{
    left: 25vw;
    top: 33vh;
    width: 10vw;
    height: 15vh;}
#l10{
    left: 17vw;
    top: 24vh;
    width: 6vw;
    height: 10vh;
}
#l11{
    right: 31vw;
    top: 32vh;
    width: 18vw;
    height: 20vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l12{
    left: 17vw;
    top: 38vh;
    width: 12vw;
    height: 13vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l13{
    width: 10vw;
    height: 6vh;
    left: 35vw;
    top: 5vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);

}
#l14{
    width: 16vw;
    height: 22vh;
    left: 22vw;
    top: 12vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l15{
    right: 15vw;
    top: 40vh;
    width: 56vw;
    height: 10vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l16{
    width: 15vw;
    height: 13vh;
    left: 4vw;
    top: 42vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75)
}
#l17{
    width: 18vw;
    height: 9vh;
    left: 17vw;
    top: 4vh;
    z-index: 10;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l18{
    top: 16vh;
    width: 6vw;
    height: 70vh;
    right: 24vw;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l19{
    top: 21vh;
    width: 29vw;
    height: 26vh;
    right: 3vw;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
    background-size: 100%;
}

@keyframes op {
    from {opacity: 1;}
    to {opacity: 0;}
}
#l20{
    top: 44vh;
    width: 20vw;
    height: 21vh;
    right: 1vw;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l21{
    top: 54vh;
    right: 11vw;
    width: 22vw;
    height: 22vh;
}
#l22{
    top: 50vh;
    right: 27vw;
    width: 10vw;
    height: 10vw;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l23{
    top: 48vh;
    left: 3vw;
    width: 7vw;
    height: 34vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l24{
    top: 50vh;
    left: 9vw;
    width: 42vw;
    height: 20vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l25{
    top: 68vh;
    left: 6vw;
    width: 20vw;
    height: 17vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
    background-size:100%;
}
#l26{
    top: 81vh;
    left: 2vw;
    width: 20vw;
    height: 16vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l27 {
    top: 89vh;
    left: 19vw;
    width: 20vw;
    height: 7vh;
}
#l28{
    top: 78vh;
    left: 26vw;
    width: 10vw;
    height: 15vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);
}
#l29{
    top: 69vh;
    left: 38vw;
    width: 32vw;
    height: 12vh;
    box-shadow: inset 59px 58px 75px -90px rgba(0,0,0,0.75);

}

.link{
    font-size: 60px;
    position: absolute;
    z-index: 10;
    letter-spacing: 9px;

}
#contact{
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    top: 75vh;
    right: 4vw;
    color:#2F467E;

}
#work {
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    color: rgb(249, 229, 222);
    position: absolute;
    top: 16vh;
    left: 39vw;
}
#blog{
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    color: rgb(249, 229, 222);
    left: 2vw;
    top: 26vh;
}
#about{
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    color: rgb(249, 229, 222);
}
#sy1{
    left: 20vw;
    top: 14vh;
}
#sy2{
    top: 44vh;
    left: 2vw;
}
#sy3{
    right: 35vw;
    top: 28vh;
}
#sy4{
    right: 8vw;
    top: 67vh;
    width: 20px;
}
#sy7,#sy6,#sy5{
    width: 12px;
}
#sy5{
    left: 27vw;
    top: 73vh;
}
#sy6{
    top: 82vh;
    left: 55vw;
}
#sy7{
    left: 40vw;
    top: 12vh;
}
#sy8{
    width: 19px;
    top: 86vh;
    left: 23vw;
}
#sy9{
    top: 35vh;
    left: 20vw;
}
#sy10{
    right: 22vw;
    top: 50vh;
}
/*

@media screen and (max-width: 800px) {
    #sq4,#sq8,#l1,#l2,#l5,#l9,#l10,#l12,#l17 {
        display: none;
    }
    #sy5{
        left: 20vw;
    }
}
@media screen and (max-width: 570px) {
    #sq3,#sq7,#sq9,#l6,#l11 {
        display: none;
    }
    #sy5{
        left: 15vw;
        top: 72vh;
    }
    #sy4{
        top: 76vh;
    }
    #intro {
        font-size: 16px;
        width: 95%;
    }
}
@media screen and (max-width: 450px) {
    #sq6,#sq10,#l17 {
        display: none;
    }
    #sq11 {
        left: 30vw;
    }
    #l7{
        left: 66vw;
        top: 50vh;
        height: 35px;
    }
    #intro {
        font-size: 12px;
    }
}



*/
